.statistics {
  margin: 50px;
  border: 2px solid black;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.item {
  text-align: center;
  padding: 20px;
  text-align: center;
  flex-direction: column;
}

.title {
  font-size: 20px;
  text-align: center;
  padding: 20px;
  margin: 0 auto;
  text-transform: uppercase;
  background-color: white;
}

.statList {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}
.statlist {
  list-style: none;
  display: flex;
}

.label {
  color: black;
  font-weight: 600;
  display: block;
}
.percentage {
  color: black;
}
